@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  /* font-family: 'Montserrat', sans-serif; */
@import url("https://use.typekit.net/lcf4ciz.css");
  /* font-family: 'droid-serif', serif; */


.App {
  text-align: center;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

header {
  /* border: 2px dotted red; */
  position: fixed;
  width: 100vw;
  height: 100px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header-container {
  /* border: 2px dotted yellow; */
  width: 1200px;
  padding: 0 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container img {
  height: 32px;
}

.desktop-menu {
  /* border: 2px dotted yellowgreen; */
  display: flex;
  align-items: center;
}

.menu-button {
  display: none;
}

.dropdown {
  display: none;
}

.mobile-menu {
  display: none;
}

nav span {
  margin-left: 35px;
  font-weight: 500;
  font-size: 1em;
}

.section-1 {
  /* border: 2px dotted #fff; */
  height: 745px;
  background-image: url(/src/img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-1-container {
  /* border: 2px dotted cyan; */
  width: 100vw;
  margin-top: 100px;
}

.section-1 h1 {
  font-family: 'droid-serif', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2.1em;
}

.section-1 h2 {
  font-weight: 700;
  font-size: 4.5em;
  margin: 40px 0 25px 0;
}

.section-1 button {
  background-color: #fed136;
  border: none;
  border-radius: 5%;
  padding: 25px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  margin: 40px 0;
}

@media(max-width: 1199px){
  .header-container {
    width: 990px;
  }
}

@media(max-width: 991px){
  header {
    height: 72px;
    background-color: #212529;
  }
  
  .header-container {
    width: 763px;
    padding: 0 25px;
  }

  .header-container img {
    height: 24px;
  }

  .desktop-menu {
    display: none;
  }

  .menu-button {
    display: flex;
    background-color: #fed136;
    width: 80px;
    height: 37px;
    box-sizing: border-box;
    border-radius: 7%;
    justify-content: space-evenly;
    align-items: center;
    font-size: .8em;
    font-weight: 500;
  }

  .menu-button img {
    height: .8em;
  }
  
  .dropdown {
    /* border: 2px dotted red; */
    width: 100vw;
    height: 190px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 72px;
    background-color: #212529;
    transition: .2s linear;
  }
  
  .mobile-menu {
    /* border: 2px dotted green; */
    width: 768px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
  }

  .mobile-menu span {
    /* border: 2px dotted cyan;  */
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px
  }

  .section-1 {
    height: 815px;
  }

  .sec-1-container {
    width: 720px;
  }
}

@media(max-width: 767px){
  .header-container {
    width: 540px;
    padding: 0;
  }

  .mobile-menu {
    width: 540px;
    padding: 0;
  }

  .section-1 {
    height: 470px;
  }

  .sec-1-container {
    width: 540px;
  }

  .section-1 h1 {
    font-family: 'droid-serif', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4em;
  }
  
  .section-1 h2 {
    font-weight: 700;
    font-size: 3.5em;
    margin: 40px 0 25px 0;
  }
}